---
import PillButton from "../utils/PillButton.astro";
import ContactInput from "../utils/ContactInput.astro";
---

<section class="mb-20 pt-16 pb-8">
	<h2 class="text-title mb-8">Register your interest now</h2>
	<form class="grid gap-4 md:grid-cols-2 md:gap-8">
		<ContactInput id="1" label="name" placeholder="Hyde Park" />
		<ContactInput id="2" label="mobile" placeholder="0400 000 000" />
		<ContactInput id="2" type="email" label="email" placeholder="you@domain.com" />
        <div>
            <span class="block mb-2 opacity-80">Floor plans</span>
            <div class="flex items-end gap-4 flex-wrap text-sm">
                <PillButton>2 Bedrooms</PillButton>
                <PillButton>3 Bedrooms</PillButton>
                <PillButton>4 Bedrooms</PillButton>
            </div>
        </div>
          <div class="grid md:grid-cols-">
                <PillButton>Submit</PillButton>
            </div>
	</form>
</section>
