<section class="mb-section">
    <h1 class="yellow mb-16 text-[4rem] font-extrabold uppercase text-center leading-[4rem] md:text-[8rem] md:leading-[7rem] md:text-start">
        Wandering <br/> Spaces
    </h1>
    <figure>
        <div class="relative mb-4">
            <img class="w-full object-cover rounded-br-[3rem] md:h-[30rem] md:rounded-br-[8rem]" src="assets/images/hero/clouds.jpg"/>
            <img class="absolute right-0 bottom-0 z-10 rounded-br-[3rem] md:rounded-br-[8rem]" src="assets/images/hero/building.webp"/>
            <img class="bg-amber-100 border-zinc-950 absolute w-[5rem] right-[20%] bottom-0 translate-y-1/2 z-20 border-[8px] rounded-full  md:w-[8rem]" src="assets/images/hero/pin-black.png"/>
        </div>
        <figcaption class="yellow uppercase font-medium text-xs md:text-base">two, three & four bedroom townhouses \\ victoria</figcaption>
    </figure>
</section>