---
import TeamCard from "../utils/TeamCard.astro";

---

<section class="mb-section pt-16">
    <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8">
        <h2 class="text-title">
            meet sales team
        </h2>
        <p class="text-sm stone-100 opacity-90  md:text-base">
            meet the expert sales team from our team who are ready to be your partners in harlow gardens
        </p>
    </header>
    <section class="h-[35rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4">
        <TeamCard name="Jak Kennedy" alt="taken from uifaces.co" src="assets/images/team/team_1.jpg"/>
        <TeamCard name="Ray Rojas" alt="taken from uifaces.co" src="assets/images/team/team_2.jpg"/>
        <TeamCard name="Isabelle Larson" alt="taken from uifaces.co" src="assets/images/team/team_3.jpg"/>
        <TeamCard name="Rosalie Atkinson" alt="taken from uifaces.co" src="assets/images/team/team_4.jpg"/>
    </section>
</section>