<section class="mb-section grid gap-4 pt-8 md:grid-cols-2 md:gap-12">
    <h2 class="text-title">Located near Willow Springs, just outside of Hyde Park.</h2>
    <p class="stone-100 opacity-90 text-sm md:text-base">These Townhouses are walking distance to all the great amenities on offer in our fast re-developing city. It's without a doubt that finding new homes at an affordable price will be harder as the city’s population grows.</p>
</section>